.alert {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.alert-content {
    margin-bottom: 7px;
    color: #555;
    font-size: 0.7em;
    text-align: center;
}

.alert-error {
    background-color: #f1524a2d;
}

.alert-success {
    background-color: #09992841;
}
